body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif; ;
}
p{
    color: white;
    text-align: center;
}
div{
    border: solid black 10px;
    width: 50%;
    margin-left: 25%;
}
img{
    border: solid white 5px;
    width: 100%;
}